.home {
    height: 100vh;
    width: 100vw;

    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.videoPlayer {
    height: 65%;
    width: 100%;
}

.videoList {
    height: 35%;
    width: 100%;
}